@*
    ABOUT PAGE
*@
@{
    ViewData["Title"] = "About";
}


<div class="bg-secondary p-5   text-white">
    <div class="">
        <h1>About</h1>
        <p>This Record shop shows a large collection of Records from all different eras.</p>
    </div>
</div>
