
@model ProductModel

@{
    ViewData["Title"] = "Customer Registrations";
}



<div class="container   text-center ">


    @* PAGE HEADER *@
    <h1 class="page_header_text   text_shadow_pop_top   text-center">
        Registration
    </h1>
    @* PAGE HEADER *@

    <div class="add-edit_input_div">
        <form asp-controller="Registration" asp-action="CustomerProductSelected" method="post">

            <select asp-for="Customers" name="customerModelId" class="add-edit_select_input  registrations_select_radius  form-control">
                <option class="add-edit_selction_option   fw-bold" value="" selected>Select Customer</option>
                @foreach (var customer in ViewBag.Customers)
                {
                    <option class="add-edit_selction_option" value="@customer.CustomerModelId">
                        @customer.CustomerFirstName  @customer.CustomerLastName
                    </option>
                }
            </select>


            @* FILTER BUTTON *@
            <div class="register-login_button_div">
                <button type="submit" class="pushable text-center  m-3">
                    <span class="btn    pushable">
                        <span class="shadow"></span>
                        <span class="edge"></span>
                        <span class="front  front_save_button_color">
                            Filter
                        </span>
                    </span>
                </button>
            </div>
            @* FILTER BUTTON *@

        </form>
    </div>
</div>


