@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Registrations</h1>




<body>
    <div class="wrap">
        <div class="drop rain1"><img src="~/images/icons/black_record_icon.png" class="record_rain_pic"/></div>
        <div class="drop rain2"><img src="~/images/icons/black_record_icon.png" class="record_rain_pic" /></div>
        <div class="drop rain3"><img src="~/images/icons/black_record_icon.png" class="record_rain_pic" /></div>
        <div class="drop rain4"><img src="~/images/icons/black_record_icon.png" class="record_rain_pic" /></div>
        <div class="drop rain5"><img src="~/images/icons/black_record_icon.png" class="record_rain_pic" /></div>
        <div class="drop rain6"><img src="~/images/icons/black_record_icon.png" class="record_rain_pic" /></div>
        <div class="drop rain7"><img src="~/images/icons/black_record_icon.png" class="record_rain_pic" /></div>
        <div class="drop rain8"><img src="~/images/icons/black_record_icon.png" class="record_rain_pic" /></div>
        <div class="drop rain9"><img src="~/images/icons/black_record_icon.png" class="record_rain_pic" /></div>
        <div class="drop rain10"><img src="~/images/icons/black_record_icon.png" class="record_rain_pic" /></div>
    </div>
</body>
