@model RegisterViewModel

@{
    ViewBag.Title = "Register New User";
}


@* Real Time Validation *@
@{
    // Specify the layout file to use (if necessary)
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <!-- Include jQuery validation libraries -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}



@* xxxxxxxx CANCEL BUTTON xxxxxxxx *@
<div class="fixed_buttons">
    <a asp-controller="User" asp-action="ManageUsers" class="">
        <div class="">
            <svg class="icon--menu-toggle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">
            <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                                <!-- Change fill attribute to blue -->
            <path d="M 24.316 44.248 l 16.193 -15.342 c 0.66 -0.625 1.748 -0.157 1.748 0.752 v 7.873 c 0 0.572 0.464 1.036 1.036 1.036 h 22.149 c 0.572 0 1.036 0.464 1.036 1.036 v 10.795 c 0 0.572 -0.464 1.036 -1.036 1.036 H 43.293 c -0.572 0 -1.036 0.464 -1.036 1.036 v 7.873 c 0 0.909 -1.088 1.377 -1.748 0.752 L 24.316 45.752 C 23.885 45.343 23.885 44.657 24.316 44.248 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #ff8f73; fill-rule: nonzero; opacity: 1;" transform="matrix(1 0 0 1 0 0)" stroke-linecap="round" />
                                <!-- Change fill attribute to color you want -->
            <path d="M 45 90 c 24.813 0 45 -20.187 45 -45 C 90 20.187 69.813 0 45 0 C 20.187 0 0 20.187 0 45 C 0 69.813 20.187 90 45 90 z M 45 8 c 20.402 0 37 16.598 37 37 c 0 20.402 -16.598 37 -37 37 C 24.598 82 8 65.402 8 45 C 8 24.598 24.598 8 45 8 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #ff8f73; fill-rule: nonzero; opacity: 1;" transform="matrix(1 0 0 1 0 0)" stroke-linecap="round" />
                            </g>
                        </svg>
        </div>
    </a>
</div>
@* xxxxxxxx CANCEL BUTTON xxxxxxxx *@




    <div class="container  text-center">
    <form method="post" asp-action="AddNewUser">


        @* PAGE HEADER *@
        <h1 class="page_header_text   text_shadow_pop_top   text-center">
            Register New User
        </h1>
        @* PAGE HEADER *@


        @* Invalid Username or Password Error *@
        <div class="add-edit_error_message   login_error_message" asp-validation-summary="ModelOnly"></div>
        @* Invalid Username or Password Error *@



        @* FIRST NAME *@
        <div class="add-edit_input_div">
            <input asp-for="FirstName" class="add-edit_input   form-control" placeholder="First Name" />
            <label asp-for="FirstName" class="add-edit_input_label">First Name</label>
        </div>
        <div class="add-edit_error_div">
            <span class="add-edit_error_message" asp-validation-for="FirstName"></span> @* Error Message *@
        </div>
        @* FIRST NAME *@

        @* LAST NAME *@
        <div class="add-edit_input_div">
            <input asp-for="LastName" class="add-edit_input   form-control" placeholder="Last Name" />
            <label asp-for="LastName" class="add-edit_input_label">Last Name</label>
        </div>
        <div class="add-edit_error_div">
            <span class="add-edit_error_message" asp-validation-for="LastName"></span> @* Error Message *@
        </div>
        @* LAST NAME *@

        @* USERNAME *@
        <div class="add-edit_input_div">
            <input asp-for="UserName" class="add-edit_input   form-control" placeholder="Username" />
            <label asp-for="UserName" class="add-edit_input_label">Username</label>
        </div>
        <div class="add-edit_error_div">
            <span class="add-edit_error_message" asp-validation-for="UserName"></span> @* Error Message *@
        </div>
        @* USERNAME *@

        @* PASSWORD *@
        <div class="add-edit_input_div">
            <input asp-for="Password" type="password" class="add-edit_input   form-control" placeholder="Password" />
            <label asp-for="Password" class="add-edit_input_label">Password</label>
        </div>
        <div class="add-edit_error_div">
            <span class="add-edit_error_message" asp-validation-for="Password"></span> @* Error Message *@
        </div>
        @* PASSWORD *@

        @* CONFIRM PASSWORD *@
        <div class="add-edit_input_div">
            <input asp-for="ConfirmPassword" type="password" class="add-edit_input   form-control" placeholder="Confirm Password" />
            <label asp-for="ConfirmPassword" class="add-edit_input_label">Confirm Password</label>
        </div>
        <div class="add-edit_error_div">
            <span class="add-edit_error_message" asp-validation-for="ConfirmPassword"></span> @* Error Message *@
        </div>
        @* CONFIRM PASSWORD *@

        @* EMAIL *@
        <div class="add-edit_input_div">
            <input asp-for="Email" class="add-edit_input   form-control" placeholder="Email" />
            <label asp-for="Email" class="add-edit_input_label">Email</label>
        </div>
        <div class="add-edit_error_div">
            <span class="add-edit_error_message" asp-validation-for="Email"></span> @* Error Message *@
        </div>
        @* EMAIL *@



        @* REGISTER BUTTON *@
        <div class="register-login_button_div">
            <button type="submit" class="pushable text-center  m-3">
                <span class="btn    pushable">
                    <span class="shadow"></span>
                    <span class="edge"></span>
                    <span class="front  front_save_button_color">
                        Register New User
                    </span>
                </span>
            </button>
        </div>
        @* REGISTER BUTTON *@



        @* ADDS SPACE AS IF IT HAD "Already Have An Account Link" LIKE LOGIN *@
        <div class="register-login_account_link_div">
            <span class="register-login_account_link"></span>
        </div>
        @* ADDS SPACE AS IF IT HAD "Already Have An Account Link" LIKE LOGIN *@


    </form>
</div>
