@*
    Delete
*@
@{
}


@model ProductModel
@{
    ViewBag.Title = $"{ViewBag.Action}";
}



<div class="container  text-center">
@*     <h1 class="page_header_text  text_shadow_pop_top">Delete Record</h1>*@
    <h1 class="delete_selected_item_header    text_shadow_pop_top">Do You Really Want To Delete</h1>
    <h1 class="delete_selected_item_name      text_shadow_pop_top">@Model.RecordName</h1>

    <span class="click_record_text">
        Click The Record To Delete It!
    </span>




    <div class="cancel_deletion_btn">
        <a asp-controller="Product" asp-action="Index" class="pushable text-center  m-3">
            <span class="btn    pushable">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front">
                    Cancel Deletion
                </span>
            </span>
        </a>
    </div>





    <form  asp-action="DeleteProduct"  method="post"   class="delete_product_form">
        @* This Product id is being sent back to the controller *@
        <input type="hidden" asp-for="ProductModelId" />

        @* SAD FACE RECORD *@
        @* alt="Submit" -->  will submit to the form   like   type="submit"*@
        <input
            id="sad_record_img"
            type="image"
            draggable="false"
            class="delete_record_img   floating_animation"
            alt="Submit"
            onclick="toggleImageAndGIF()"
            src="~/images/icons/sad_record_600px.png"
        />
        @* <img id="sad_record_img" class="delete_record_img floating_animation" src="~/images/icons/sad_record_600px.png" />*@
        @* SAD FACE RECORD *@


        @* RECORD BREAKING GIF *@
        <img
            id="sad_record_gif"
            class="delete_record_img  floating_animation"
            style="display: none;"
            src="~/images/icons/animation/sad_record_breaking.gif"
        />
        @* RECORD BREAKING GIF *@

    </form>
</div>



<script>
    // Function to show the GIF and hide the other image when the Record Image is clicked to submit form
    function toggleImageAndGIF() {
        var sadRecord = document.getElementById("sad_record_img");
        var sadGIF = document.getElementById("sad_record_gif");

        sadRecord.style.display = "none";
        sadGIF.style.display = "inline-block";

        // document.getElementById("sad_record").style.display = "none";
        // document.getElementById("sad_record_gif").style.display = "inline-block";
    }
</script>

