
@model ProductModel
@* @{
    ViewBag.Title = $"{ViewBag.Editing} {ViewBag.Adding}";
}
 *@

@* Real Time Validation *@
@{
    // Specify the layout file to use (if necessary)
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <!-- Include jQuery validation libraries -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}








<div class="container    text-center">


    @if (ViewBag.Editing != null) {
        {
            ViewBag.Title = $"{ViewBag.Editing} {@Model.RecordName}";
        }

        <h1 class="add-edit_selected_item_header     editing_item_header_color     text_shadow_pop_top">@ViewBag.Editing</h1>
        <h1 class="edit_selected_item_name   text_shadow_pop_top">@Model.RecordName</h1>
    }
    @if (ViewBag.Adding != null)
    {
        {
            ViewBag.Title = $"{ViewBag.Adding}";
        }

        <h1 class="add-edit_selected_item_header      adding_item_header_color     text_shadow_pop_top">@ViewBag.Adding</h1>
    }




    <form asp-action="EditProduct" method="post">

        @* All Error Messages *@
        @*     <div asp-validation-summary="All" class="text-danger"></div> *@


        @* CODE *@
        <div class="add-edit_input_div ">
            <input asp-for="Code" class="add-edit_input   form-control" placeholder="Code" />
            <label asp-for="Code" class="add-edit_input_label">Code</label>
        </div>
        <div class="add-edit_error_div   ">
            <span class="add-edit_error_message" asp-validation-for="Code"></span> @* Error Message *@
        </div>
        @* CODE *@


        @* RECORD NAME *@
        <div class="add-edit_input_div">
            <input asp-for="RecordName" class="add-edit_input   form-control" placeholder="Record Name" />
            <label asp-for="RecordName" class="add-edit_input_label">Record Name</label>
        </div>
        <div class="add-edit_error_div">
            <span class="add-edit_error_message   error_message_jello-horizontal" asp-validation-for="RecordName"></span> @* Error Message *@
        </div>
        @* RECORD NAME *@


        @* ARTIST NAME *@
        <div class="add-edit_input_div">
            <input asp-for="ArtistName" class="add-edit_input   form-control" placeholder="Artist Name" />
            <label asp-for="ArtistName" class="add-edit_input_label">Artist Name</label>
        </div>
        <div class="add-edit_error_div">
            <span class="add-edit_error_message   error_message_jello-horizontal" asp-validation-for="ArtistName"></span> @* Error Message *@
        </div>
        @* ARTISTS NAME *@


        @* GENRE *@
        <div class="add-edit_input_div">
            <select asp-for="GenreModelId" class="add-edit_select_input  form-control" asp-items="@(new SelectList(ViewBag.Genres, "GenreModelId", "GenreName"))">
                <option class="add-edit_selction_options" value="">Select Music Genre</option>
            </select>
            <label asp-for="Price" class="add-edit_input_label">Genre</label>
        </div>
        <div class="add-edit_error_div">
            <span class="add-edit_error_message" asp-validation-for="GenreModelId"></span> @* Error Message *@
        </div>
        @* GENRE *@


        @* RELEASE YEAR *@
        <div class="add-edit_input_div">
            <input asp-for="ReleaseDate" class="add-edit_input   form-control" placeholder="Release Year" />
            <label asp-for="ReleaseDate" class="add-edit_input_label">Release Year</label>
        </div>
        <div class="add-edit_error_div">
            <span class="add-edit_error_message   error_message_jello-horizontal" asp-validation-for="ReleaseDate"></span> @* Error Message *@
        </div>
        @* RELEASE YEAR *@



        @* PRICE *@
        <div class="add-edit_input_div">
            <input asp-for="Price" class="add-edit_input   form-control" placeholder="Price" />
            <label asp-for="Price" class="add-edit_input_label">Price</label>
        </div>
        <div class="add-edit_error_div">
            <span class="add-edit_error_message   error_message_jello-horizontal" asp-validation-for="Price"></span> @* Error Message *@
        </div>
        @* PRICE *@




        <input type="hidden" asp-for="ProductModelId" />

        <button type="submit" class="btn btn-primary">Save</button>

        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Cancel</a>

    </form>
</div>


