@{
    ViewBag.Title = "Access Denied";
}


<section class="hero_section   text-center    scale_in_center_entrance_animation">
    <div class="hero_content   text-center ">
        <div class="">
            <h1 class="hero_header__no_items_text   text_shadow_pop_top">Access Denied</h1>

            <a asp-controller="Account" asp-action="Login" asp-route-artist="all" class="no_items_image ">
                <img src="~/images/icons/error_guy.png" class="no_results_img" draggable="false">
            </a>
        </div>
    </div>
</section>




