@model LoginViewModel


@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>


<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Username:</label>
        <div class="col-md-4">
            <input asp-for="UserName" class="form-control" />
        </div>

        <div class="col-md-4">
            <span asp-validation-for="UserName" class="text-danger" />
        </div>
    </div>


    <div class="row mb-2">
        <label class="col-form-label col-md-2">Password:</label>
        <div class="col-md-4">
            <input type="password" asp-for="Password" class="form-control" />
            <p class="fw-bold text-info">FOR ADMIN: Sesame</p>
        </div>

        <div class="col-md-4">
            <span asp-validation-for="Password" class="text-danger" />
        </div>
    </div>



    <div class="row mb-2">
        <label class="col-form-label col-md-2">Remember Me:</label>
        <div class="col-md-4">
            <input type="checkbox" title="Remember Me" asp-for="RememberMe" class="form-check-inline" />
        </div>
    </div>


    <div class="row mb-2">
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Log In</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Cancel</a>
        </div>
    </div>



    <div class="row mb-2">
        <div class="col-md-4">
            <p>Not Registered? <a asp-action="Register">Register An Account</a></p>
        </div>
    </div>

</form>