@{
    ViewData["Title"] = "Home Page";
}

<head>
    @* CSS *@
    <link href="~/css/homepage.css" rel="stylesheet" />
</head>



<div class="text-center">
    <h1 class="">SportsPro Technical Support</h1>
    <p>Sports Management software for the sports enthusiast</p>
</div>


<div>
    <h1 class="">Admin</h1>

    <p class="border">Mangage Products</p>
    <p class="border">Mangage Technicians</p>
    <p class="border">Mangage Customers</p>
    <p class="border">Mangage Incidents</p>
    <p class="border">Mangage Registrations</p>

</div>


<div>
    <h1 class="">Technicians</h1>

    <p class="border">Update Incident</p>


</div>