@{
    ViewData["Title"] = "Home Page";
}

<head>
    @* CSS *@
    <link href="~/css/homepage.css" rel="stylesheet" />
</head>



<div class="">
    <h1 class="">Record Shop</h1>
    <p>Shop any and all Records</p>
</div>


<div>
    <h1 class="">Admin</h1>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Product" asp-action="Index">Manage Products</a>
    </p>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Employee" asp-action="Index">Manage Employees</a>
    </p>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Customer" asp-action="Index">Manage Customers</a>
    </p>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Incident" asp-action="Index">Manage Incident</a>
    </p>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Registration" asp-action="Index">Manage Incident</a>
    </p>
</div>


<div>
    <h1 class="">Technicians</h1>

    <p class="border p-lg-2">Update Incident</p>
</div>