

/* USED FOR CANCEL BUTTON IN TOP LEFT */
.fixed_buttons {
    position: fixed;
    top: 1.5rem; /* Assuming 1rem = 16px */

    left: 2rem; /* Adjust left position as needed */

    cursor: pointer;

    z-index: 100;
}






/* This is the Header Saying "Currently Editing" */
.add-edit_selected_item_header {
    font-size: min(15vw, 50px); /* Responsive font size based on viewport width, with a minimum of 24px */

    text-align: center; /* Center align text */

    margin-top: 50px;
    text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555;
}
    .adding_item_header_color {
        color: #ff8f73;
    }
    .editing_item_header_color{
        color: #fcca29;
    }
/* This is the item that is actually being edit should be a call in for the currently selected item name */
.edit_selected_item_name {
    font-size: min(15vw, 35px); /* Responsive font size based on viewport width, with a minimum of 24px */

    text-align: center; /* Center align text */

    margin-top: 25px;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #b5c8b2;
    text-underline-position: under;
    text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555;
    color: #fcca29;
}




/* lllllll INPUT LABEL lllllll*/
/* Div That Each Input is in*/
.add-edit_input_div {
    margin-top: 90px;
}

/* The Label that appears after input is being typed in */
.add-edit_input_label {
    font-size: 1.9rem;
    font-weight: bold;
    text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555;
    color: #b5c8b2;
    /* Matches the position of the text from the left of input if not centered */
    /*margin-left: 2rem; */
    display: block; /* Allows Label To Be Under */
    transition: all 0.3s ease-in-out;

    /* Changes the Direction of the text */
    transform: translateY(-9rem);
}

/* PLAYS LABEL ANIMATION OF MOVING */
.add-edit_input:placeholder-shown + .add-edit_input_label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(4rem);
    transform: translateY(-4rem);
}
/* lllllll INPUT LABEL lllllll*/






/* iiiiiiiii INPUT iiiiiiiii*/
/* Inputs for the edit page */
.add-edit_input {
    color: #f3f1e0;
    font-size: 1.2rem;
    padding: 1.5rem 2rem;
    border-radius: 50px;
    background-color: #b5c8b2;
    border: none;
    /*    width: 90%;
    display: block;*/
    transition: all 0.2s;
    border: 7px solid #634a4c;

    caret-color: #f3f1e0;
    text-align: center;
}
    /* The Placeholder text inside the input */
    .add-edit_input::placeholder {
        text-align: center;
        color: #f3f1e0;
    }

    /* What happens when a user enters and activates the input */
    .add-edit_input:active, .add-edit_input:focus {
        color: #634a4c;
        font-size: 1.5rem;
        background-color: #b5c8b2;
        border: 10px solid #ff8f73;
        font-weight: bold;
        /* Gets Rid of html outline when active/ focused */
        outline: none;
        outline-color: transparent;
        box-shadow: none; /* mobiles outline */

        /*box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);*/
    }
    /* Hovering Over the inputs */
    .add-edit_input:hover {
        color: #634a4c;
        /*animation: 0.5s ease-in-out 0s 1 normal both running pulse-animation;*/
    }
@keyframes pulse-animation {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    100% {
        transform: scaleX(1);
    }
}


/* IF THE INPUTS ARE VALID DATA */
/*.add-edit_input:valid {
    background-color: #00FF7F;
}*/
/* iiiiiiiii INPUT iiiiiiiii*/






/* si si si SELECT INPUT si si si */
    /* SELECT INPUT FOR GENRE's AND OTHERS */
.add-edit_select_input {
    color: #f3f1e0;
    font-size: 1.2rem;
    padding: 1.5rem 2rem;
    border-radius: 50px;
    background-color: #b5c8b2;
    border: none;
    /*    width: 90%;
    display: block;*/
    transition: all 0.2s;
    border: 7px solid #634a4c;
    caret-color: #f3f1e0;
    text-align: center;
}
    /* What happens when a user enters and activates the select input to click an option*/
    .add-edit_select_input:active, .add-edit_select_input:focus {
        color: #634a4c;
        background-color: #b5c8b2;
        border: 10px solid #ff8f73;
        /*font-size: 1.5rem;*/
        font-weight: bold;
        /* Gets Rid of html outline when active/ focused */
        outline: none !important;
        outline-color: transparent !important;
        box-shadow: none !important; /* mobiles outline */

        /*box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);*/
    }
    .add-edit_select_input:hover {
        color: #634a4c;
        cursor: pointer;
        /*animation: 0.5s ease-in-out 0s 1 normal both running pulse-animation;*/
    }





/* OPTIONS IN SELECT */
.add-edit_selction_option {
    color: #634a4c;
    background-color: #b5c8b2;
}
    /* THE ACTIVE SELECTED OPTION */
    .add-edit_selction_option:checked {
        background-color: #ff8f73 !important;
        font-weight: bold;
    }
/* si si si SELECT INPUT si si si */






/* vvvvvvvvvvvv VALIDATION vvvvvvvvvvvv */
.add-edit_error_div {
    margin-top: 0px;
}

.add-edit_error_message {
    font-size: 1.4rem;
    color: #ff4646;

    font-weight: bold;
}


/* ERROR VALIDATIONS */
.input-validation-error, .input-validation-error:active, .input-validation-error:focus {
    border: 10px solid #ff4646;
    background-color: #ff8b8b;
    color: #f3f1e0;
    /* The Typing Cursor Color*/
    caret-color: #f3f1e0;
}

/* The Error Text Below Input */
.field-validation-error, .field-validation-error:active, .field-validation-error:focus {
    font-weight: bold !important;
}
/* ERROR VALIDATIONS */
/* vvvvvvvvvvvv VALIDATION vvvvvvvvvvvv */







