

.card_expand_container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    border: none;
    background: none;
}

.card_expand_face {
    border: 5px solid #634a4c;
    border-radius: 10px;


    /* WIDTH AND HEIGHT OF THE CARD ITEM*/
    width: 500px;
    height: 280px;


    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden; /* Prevents content overflow */
    word-wrap: break-word; /* Allow long words to wrap */
    overflow-wrap: break-word; /* Allow text to break between characters */
    /*    position: relative;
    background: #b5c8b2;
    z-index: 1;
    transform: translateY(100px);*/
}
    @media screen and (max-width: 767px) {
        .card_expand_face {
            width: 300px; /* Width for small devices (e.g., phones) */
        }
    }


/* This is the front of the card that you see first */
.card_face_top {
    position: relative;
    background: #b5c8b2;
    z-index: 1;
    text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555;

    transform: translateY(180px);
}




.card:hover .card_expand_face.card_face_top {
    transform: translateY(0);
    /*box-shadow: inset 0 0 1px whitesmoke, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;*/
    transform: scale(1.05);
}




/* The text on the Face of the Card */
.face_header_text {
    font-size: 2em;
    color: #f3f1e0;
    text-align: center;
    word-wrap: break-word; /* Allow long words to wrap */
}
/* The smaller text on the Face of the Card */
.face_text {
    font-size: 1em;
    color: #f3f1e0;
    text-align: center;
    word-wrap: break-word; /* Allow long words to wrap */
}



.card .card_expand_face.card_face_top .content a {
    transition: .5s;
}




/* This is the bottom information part after the hover */
.card_face_bottom_info {
    position: relative;
    color: #634a4c;
    background: #f3f1e0;
    display: flex;
    flex-direction: column; /* Ensures content stacks vertically */
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0,0,0,.8);



    transform: translateY(-100px);
}

.card:hover .card_face_bottom_info {
    transform: translateY(0);
}


/* The text in the bottom container */
.card .card_expand_face.card_face_bottom_info .content p {
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
}





/* CARD LINKS     EDIT - DELETE */
.card_expand_link {
    text-decoration: none;
    box-sizing: border-box;
    padding: 15px;

    margin-top: 10px;

    display: inline-block;
    font-size: 1.2em;
}

    .card_expand_link:hover {
        box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
        transform: scale(1.1);
    }



.card_add_button {
    color: #ff8f73;
}

    .card_add_button:hover {
        background: #ffaf9b;
        color: #ffff;
    }

.card_edit_button {
    color: #fcca29;
}

    .card_edit_button:hover {
        background: #fbd869;
        color: #ffff;
    }

.card_delete_button {
    color: #ff4646;
}

    .card_delete_button:hover {
        background-color: #ff6363;
        color: #ffff;
    }
/* CARD LINKS     EDIT - DELETE */
