
/* This is the Header Saying "Do You Really Want To Delete" */
.delete_selected_item_header {
    font-size: min(15vw, 40px); /* Responsive font size based on viewport width, with a minimum of 24px */

    text-align: center; /* Center align text */

    margin-top: 50px;
    margin-bottom: 30px;
    color: #b5c8b2;
    text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555;
}



/* This is the item that is actually being deleted should be a call in for the currently selected item name */
.delete_selected_item_name {
    font-size: min(15vw, 35px); /* Responsive font size based on viewport width, with a minimum of 24px */

    text-align: center; /* Center align text */

    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;

    text-decoration-color: #ff8f73;
    text-underline-position: under;

    text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555;
    color: #b5c8b2;
}






.delete_record_img {
    max-width: 50%;
    height: auto;
    width: auto;
}







.floating_animation {
    animation-name: floating_animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating_animation {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}