/* COLORS */
/*   f3f1e0   f1d7cb   ecb2b0    776163    878f7d    b5c8b2      https://i.pinimg.com/originals/33/db/6d/33db6db11053224ce6f2671fa5849276.png */
/*   #7A3E26  #CF6856  #F7E7CE   #FFFFFF    https://www.canva.com/colors/color-palettes/vanilla-amandine/ */
/* COLORS */



.spline_iframe_container {
    width: 100vw;
    height: 100vh;
    background-color: #f1d7cb;
}

.spline_iframe {
    width: 100%;
    height: 100%;
}




/* hhhhhhhhhhh HERO SECTION hhhhhhhhhhh */
.hero_content {
    max-width: 600px;
    margin: 0 auto;

/*    padding-top: 10px;
    padding-bottom: 20px;*/
}












.hero_section {
    position: relative;
    background-color: #b5c8b2;
    /*    background: linear-gradient(-45deg, #ecb2b0, #e73c7e, #b5c8b2, #23d5ab);*/
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    height: 100vh;
    height: 100vh; /* Set the height to fill the viewport */


    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.hero_content_record_stopper_box {
    position: relative; /* Add position relative */
    border: 10px solid #f3f1e0;
    border-radius: 30px;
    padding: 10%;
    background-color: #776163
}


.hero_header_text {
    position: relative;
    z-index: 1;
    font-size: 4.5rem;
    margin: 0 0 10px;
    line-height: 1;
    color: #b5c8b2;
}

.hero_sub_text {
    position: relative;
    z-index: 1;
    font-size: 1.1rem;
    color: #878f7d;
    line-height: 1.4;
}
/* hhhhhhhhhhh HERO SECTION hhhhhhhhhhh */









/* sssssssssss SNOW FLAKE ANIMATION sssssssssss*/

.snowflakeIMG {
    width: 3vmax;
    opacity: 0.8;
    -webkit-animation: spin 5s infinite linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}




.snowflake {
    position: absolute; /* Change from fixed to absolute */
    /* Adjust top and left values according to your needs */
    top: -10%;
    left: 50%;

    /* ADD THIS IF YOU WANT IT TO SPAN WHOLE SCREEN */
    /*
        position: fixed;
        top: -10%;
    */
    /*    z-index: 9999;*/

    /* Deny User dragging IMG */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    /* Deny User dragging IMG */


    -webkit-animation-name: snowflakes-fall, snowflakes-shake;

    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
}

    .snowflake:nth-of-type(0) {
        left: 1%;
        -webkit-animation-delay: 0s, 0s;
        animation-delay: 0s, 0s
    }

    .snowflake:nth-of-type(1) {
        left: 10%;
        -webkit-animation-delay: 1s, 1s;
        animation-delay: 1s, 1s
    }

    .snowflake:nth-of-type(2) {
        left: 20%;
        -webkit-animation-delay: 6s, .5s;
        animation-delay: 6s, .5s
    }

    .snowflake:nth-of-type(3) {
        left: 30%;
        -webkit-animation-delay: 4s, 2s;
        animation-delay: 4s, 2s
    }

    .snowflake:nth-of-type(4) {
        left: 40%;
        -webkit-animation-delay: 2s, 2s;
        animation-delay: 2s, 2s
    }

    .snowflake:nth-of-type(5) {
        left: 50%;
        -webkit-animation-delay: 8s, 3s;
        animation-delay: 8s, 3s
    }

    .snowflake:nth-of-type(6) {
        left: 60%;
        -webkit-animation-delay: 6s, 2s;
        animation-delay: 6s, 2s
    }

    .snowflake:nth-of-type(7) {
        left: 70%;
        -webkit-animation-delay: 2.5s, 1s;
        animation-delay: 2.5s, 1s
    }

    .snowflake:nth-of-type(8) {
        left: 80%;
        -webkit-animation-delay: 1s, 0s;
        animation-delay: 1s, 0s
    }

    .snowflake:nth-of-type(9) {
        left: 90%;
        -webkit-animation-delay: 3s, 1.5s;
        animation-delay: 3s, 1.5s
    }

    .snowflake:nth-of-type(10) {
        left: 25%;
        -webkit-animation-delay: 2s, 0s;
        animation-delay: 2s, 0s
    }

    .snowflake:nth-of-type(11) {
        left: 65%;
        -webkit-animation-delay: 4s, 2.5s;
        animation-delay: 4s, 2.5s
    }


@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0%, 100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }
}
/* sssssssssss SNOW FLAKE ANIMATION sssssssssss*/


























/* oooooooooo OTHER IDEAS BELOW oooooooooo */

/* Cut in Half Hero */
/* <div class="hero">
    <div class="diagonal-hero-bg">
        <div class="stars">
            <div class="small"></div>
            <div class="medium"></div>
            <div class="big"></div>
        </div>
    </div>
</div>
*/
/*.hero {
    display: inline-block;
    width: 100%;
    height: 500px;
    position: relative;
}

.diagonal-hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: #2b5876;
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876);
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}*/

/* oooooooooo OTHER IDEAS BELOW oooooooooo */
