/* COLORS */
/*   f3f1e0   f1d7cb   ecb2b0    776163    878f7d    b5c8b2      https://i.pinimg.com/originals/33/db/6d/33db6db11053224ce6f2671fa5849276.png */
/*   #7A3E26  #CF6856  #F7E7CE   #FFFFFF    https://www.canva.com/colors/color-palettes/vanilla-amandine/ */
/* COLORS */



.spline_iframe_container {
    width: 100vw;
    height: 100vh;
    background-color: #f1d7cb;
}

.spline_iframe {
    width: 100%;
    height: 100%;
}





/* hhhhhhhhhhh HERO SECTION hhhhhhhhhhh */


/* EXACT SAME CSS AS page_header_text JUST NO MARGIN  FOUND IN site.css*/
.home_page_header_text {
    font-size: min(15vw, 90px); /* Responsive font size based on viewport width, with a minimum of 24px */


    line-height: 1.2; /* Set line height */
    text-align: center; /* Center align text */

    color: #ff8f73;
}



.hero_section {
    border-bottom: 5px solid #634a4c; /* Same border css as the searchsidemenu css */



    position: relative;
    height: 100vh;
    justify-content: center; /* Center content horizontally */


    display: flex;
    align-items: center;
    overflow: hidden;
}

.hero_content {
    max-width: 400px;
    padding: 20px;
}

.hero_section_bg_color_green {
    background-color: #b5c8b2;
}
    .hero_section_bg_color_orange {
        background-color: #ff8f73;
    }


.no_results_img {
    width: 100%; /* Ensure image scales with its container */
}



/* Background Image */
.hero_background {
    border-top: 5px solid #634a4c; /* Same border css as the searchsidemenu css */

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('../images/backgrounds/tile_background_lil_big.png');
    background-repeat: repeat;
    background-position: 0 0;
    background-size: auto 100%;
    /*adjust s value for speed*/
    animation: animatedBackground 800s linear infinite;
}
    @keyframes animatedBackground {
        from {
            background-position: 0 0;
        }
        /*use negative width if you want it to flow right to left else and positive for left to right*/
        to {
            background-position: 10000px 0px;
        }
    }



.hero_content_record_stopper_box {
    position: relative; /* Add position relative */
    border: 10px solid #f3f1e0;
    border-radius: 30px;
    padding: 10%;
    background-color: #422800;
    margin: 4vh;
}





.hero_header_text {
    position: relative;
    z-index: 1;
    font-size: 4.5rem;
    margin: 0 0 10px;
    line-height: 1;
    /*    color: #b5c8b2;*/
    color: #fbeee0;
    text-shadow: -2px -2px 0 rgba(255, 255, 255, 0.2), 2px 2px 0 #422800;
}

.hero_sub_text {
    position: relative;
    z-index: 1;
    font-size: 1.1rem;
    color: #f2e8da;
    line-height: 1.4;
}










/* hhhhhhhhhhh HERO SECTION hhhhhhhhhhh */













/* sssssssssss SNOW FLAKE ANIMATION sssssssssss*/


/*
    ADD AS MANY AS NEEDED
    <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/uwu_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/uwu_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/uwu_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/uwu_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div> */



.snowflakeIMG {
    width: 3vmax;
    opacity: 0.8;
    -webkit-animation: spin 5s infinite linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}




.snowflake {
    position: absolute; /* Change from fixed to absolute */
    /* Adjust top and left values according to your needs */
    top: -10%;
    left: 50%;

    /* ADD THIS IF YOU WANT IT TO SPAN WHOLE SCREEN */
    /*
        position: fixed;
        top: -10%;
    */
    /*    z-index: 9999;*/

    /* Deny User dragging IMG */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    /* Deny User dragging IMG */


    -webkit-animation-name: snowflakes-fall, snowflakes-shake;

    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
}

    .snowflake:nth-of-type(0) {
        left: 1%;
        -webkit-animation-delay: 0s, 0s;
        animation-delay: 0s, 0s
    }

    .snowflake:nth-of-type(1) {
        left: 10%;
        -webkit-animation-delay: 1s, 1s;
        animation-delay: 1s, 1s
    }

    .snowflake:nth-of-type(2) {
        left: 20%;
        -webkit-animation-delay: 6s, .5s;
        animation-delay: 6s, .5s
    }

    .snowflake:nth-of-type(3) {
        left: 30%;
        -webkit-animation-delay: 4s, 2s;
        animation-delay: 4s, 2s
    }

    .snowflake:nth-of-type(4) {
        left: 40%;
        -webkit-animation-delay: 2s, 2s;
        animation-delay: 2s, 2s
    }

    .snowflake:nth-of-type(5) {
        left: 50%;
        -webkit-animation-delay: 8s, 3s;
        animation-delay: 8s, 3s
    }

    .snowflake:nth-of-type(6) {
        left: 60%;
        -webkit-animation-delay: 6s, 2s;
        animation-delay: 6s, 2s
    }

    .snowflake:nth-of-type(7) {
        left: 70%;
        -webkit-animation-delay: 2.5s, 1s;
        animation-delay: 2.5s, 1s
    }

    .snowflake:nth-of-type(8) {
        left: 80%;
        -webkit-animation-delay: 1s, 0s;
        animation-delay: 1s, 0s
    }

    .snowflake:nth-of-type(9) {
        left: 90%;
        -webkit-animation-delay: 3s, 1.5s;
        animation-delay: 3s, 1.5s
    }

    .snowflake:nth-of-type(10) {
        left: 25%;
        -webkit-animation-delay: 2s, 0s;
        animation-delay: 2s, 0s
    }

    .snowflake:nth-of-type(11) {
        left: 65%;
        -webkit-animation-delay: 4s, 2.5s;
        animation-delay: 4s, 2.5s
    }


@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0%, 100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }
}
/* sssssssssss SNOW FLAKE ANIMATION sssssssssss*/
























/*.text_zoom_out {
    font-size: 8vw;
    line-height: 8vw;
    background-image: url('../images/icons/vinyl_tabetop.jpg');
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    background-size: 40%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0.08);
    animation: zoomout 10s ease 500ms forwards;
}

@keyframes zoomout {
    from {
        background-size: 40%;
    }

    to {
        background-size: 10%;
    }
}*/