
/* nnnnnnnnnnnnnnnnnnnn NAVBAR nnnnnnnnnnnnnnnnnnnn */

.main-navigation-toggle {
    position: fixed;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

    .main-navigation-toggle + label {
        position: fixed;
        top: 1.5rem; /* Assuming 1rem = 16px */
        right: 2rem; /* Assuming 1rem = 16px */
        cursor: pointer;
        z-index: 999;
    }

/* This focuses the position and outside of the ☰ and ❌ Icon */
.icon--menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem; /* Assuming 1rem = 16px */
    height: 2.5rem; /* Assuming 1rem = 16px */
    stroke-width: 6;
}

/* The Sliding Animation from ☰ to ❌ */
.icon-group {
    transform: translateX(0);
    transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* The hamburger menu ☰*/
.icon--menu {
    stroke: #002626;
}

/* The Close ❌ menu */
.icon--close {
    stroke: #F0F7EE;
    transform: translateX(-100%);
}


.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 998;
}

    .main-navigation:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #002626;
        transform-origin: 0 50%;
        z-index: -999;

    }


.navbar_ul {
    font-size: 10vmin;
    font-family: 'Merriweather', serif;
    width: 100%;
}

.navbar_li {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

    .navbar_li:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1vmin; /* Assuming 1rem = 16px */
        background-color: #F0F7EE;
        transform-origin: 0 50%;
        transform: translateX(-100%) skew(15deg);
    }

.navbar_links {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: #F0F7EE;
    line-height: 1;
    text-decoration: none;
    user-select: none;
    padding: 1rem 2rem; /* Assuming 1rem = 16px */
    transform: translateY(100%);
}

.main-content {
    margin: 6rem auto;
    max-width: 70ch;
    padding: 0 2rem; /* Assuming 1rem = 16px */
    transform: translateX(0);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.main-navigation-toggle:checked ~ label .icon--menu-toggle .icon-group {
    transform: translateX(100%);
}

.main-navigation-toggle:checked ~ .main-content {
    transform: translateX(10%);
}

.main-navigation-toggle:checked ~ .main-navigation {
    transition-duration: 0s;
    transform: translateX(0);
}

    .main-navigation-toggle:checked ~ .main-navigation:after {
        animation: nav-bg 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }

    .main-navigation-toggle:checked ~ .main-navigation li:after {
        animation: nav-line 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }

    .main-navigation-toggle:checked ~ .main-navigation .navbar_links {
        animation: link-appear 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }


@keyframes nav-bg {
    from {
        transform: translateX(-100%) skewX(-15deg);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes nav-line {
    0% {
        transform: scaleX(0);
        transform-origin: 0 50%;
    }

    35% {
        transform: scaleX(1.001);
        transform-origin: 0 50%;
    }

    65% {
        transform: scaleX(1.001);
        transform-origin: 100% 50%;
    }

    100% {
        transform: scaleX(0);
        transform-origin: 100% 50%;
    }
}

@keyframes link-appear {
    0%, 25% {
        transform: translateY(100%);
    }

    50%, 100% {
        transform: translateY(0);
    }
}
/* nnnnnnnnnnnnnnnnnnnn NAVBAR nnnnnnnnnnnnnnnnnnnn */
