

/* COLORS */
/*   f3f1e0   f1d7cb   ecb2b0    776163    878f7d    b5c8b2      https://i.pinimg.com/originals/33/db/6d/33db6db11053224ce6f2671fa5849276.png */
/*   #7A3E26  #CF6856  #F7E7CE   #FFFFFF    https://www.canva.com/colors/color-palettes/vanilla-amandine/ */
/* COLORS */


/* nnnnnnnnnnnnnnnnnnnn NAVBAR nnnnnnnnnnnnnnnnnnnn */


/*.nav_header {
    cursor: url('image-path.png');
}
*/

.main-navigation-toggle {
    position: fixed;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

    .main-navigation-toggle + label {
        position: fixed;
        top: 1.5rem; /* Assuming 1rem = 16px */
        right: 2rem; /* Assuming 1rem = 16px */
        cursor: pointer;
        z-index: 999;
    }

/* This focuses the position and outside of the ☰ and ❌ Icon */
.icon--menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem; /* Assuming 1rem = 16px */
    height: 3.5rem; /* Assuming 1rem = 16px */
    stroke-width: 6;
}

/* The Sliding Animation from ☰ to ❌ */
.icon-group {
    transform: translateX(0);
    transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* The hamburger menu ☰*/
.icon--menu {
    stroke: #b5c8b2;
}

/* The Close ❌ menu */
.icon--close {
    stroke: #F7E7CE;
    transform: translateX(-100%);
}


.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 998;
}

/* The Whole Page Screen after being opened */
    .main-navigation:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #b5c8b2;
        z-index: -999;
    }





/* The Text When opened */
.navbar_ul {
    width: 100%;

    margin: 0;
    padding: 0;

    /* Gets rid of the Li Bullets*/
    list-style: none;
}


/* This is the Dots of the List But this controls the position of the Lines that move Left to the Right on Open*/
.navbar_li {
    display: flex;
    align-items: center;
    position: relative;

    /* Hides the lines before the text comes */
    overflow: hidden;
}
/* Once the nav bar opens the Lines will span from the Left to The Right*/
    .navbar_li:after {
        content: '';
        /* These 3 Ensure that The lines are centered and stay under the text */
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%; /* Length of the Line */
        height: 1vmin; /* Assuming 1rem = 16px */

        background-color: #f3f1e0;
        transform-origin: 0 100%;
        transform: translateX(-100%) skew(15deg);
    }




/* The actual Link Element itself */
.navbar_links {
    font-size: calc(1.5vw + 2rem); /* Adjust font size based on viewport width */

    font-family: "Lexend", sans-serif;

/*    max-width: 800px;*/
    margin-left: auto;
    margin-right: auto;


    /* CENTERED THE TEXT */
    padding-left: 4px;




    color: #f3f1e0;
    line-height: 1;
    text-decoration: none;
    user-select: none;
    /*padding: 1rem 2rem;*/ /* Assuming 1rem = 16px */
    padding-bottom: 2rem;


    /*    transform: translateY(100%);*/

    transition: all 0.3s ease-in-out;
}
    .navbar_links:hover {
        font-size: calc(2vw + 2.5rem); /* Adjust font size based on viewport width */
        margin-top: 5px;
        margin-bottom: 5px;
        color: #f1d7cb;
    }

    /* When the link is active from layout */
    .navbar_links.active {
        color: #634a4c;
    }
        .navbar_links.active:hover {
            font-size: calc(2vw + 2.5rem); /* Adjust font size based on viewport width */
            margin-top: 5px;
            margin-bottom: 5px;
            color: #f1d7cb;
        }




/*.main-content {
    margin: 6rem auto;
    max-width: 70ch;
    padding: 0 2rem;
    transform: translateX(0);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}*/

.main-navigation-toggle:checked ~ label .icon--menu-toggle .icon-group {
    transform: translateX(100%);
}

.main-navigation-toggle:checked ~ .main-content {
    transform: translateX(10%);
}

.main-navigation-toggle:checked ~ .main-navigation {
    transition-duration: 0s;
    transform: translateX(0);
}

    .main-navigation-toggle:checked ~ .main-navigation:after {
        animation: nav-bg 0.25s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }

    .main-navigation-toggle:checked ~ .main-navigation li:after {
        animation: nav-line 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }

    .main-navigation-toggle:checked ~ .main-navigation .navbar_links {
        animation: link-appear 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
    }


@keyframes nav-bg {
    from {
        transform: translateX(-100%) skewX(-15deg);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes nav-line {
    0% {
        transform: scaleX(0);
        transform-origin: 0 50%;
    }

    35% {
        transform: scaleX(1.001);
        transform-origin: 0 50%;
    }

    65% {
        transform: scaleX(1.001);
        transform-origin: 100% 50%;
    }

    100% {
        transform: scaleX(0);
        transform-origin: 100% 50%;
    }
}

@keyframes link-appear {
    0%, 25% {
        transform: translateY(100%);
    }

    50%, 100% {
        transform: translateY(0);
    }
}
/* nnnnnnnnnnnnnnnnnnnn NAVBAR nnnnnnnnnnnnnnnnnnnn */







/* <img src="~/images/icons/black_record_icon.png" class="record_icon" / > */
/*.record_icon {
    animation: rotate 4s linear infinite;

    transition: all 0.3s ease-in-out;
}*/


/* Define the keyframes for the rotation animation */
/*@keyframes rotate {
    from {
        transform: translateY(-50%) scale(0.5) rotate(0deg);
    }

    to {
        transform: translateY(-50%) scale(0.5) rotate(360deg);
    }
}*/
