


.search {
    border: 5px solid #634a4c;
    overflow: auto;
    border-radius: 50px;
    display: flex;
}

.search-form {
    width: 100%;
    display: flex;
    align-items: center; /* Align items vertically */
}



.search_bar_text_input {
    border: 0px;
    flex: 1 1 80%; /* Let the input take up 80% of the space */
    padding: 10px;
    background-color: #f3f1e0;
    color: #634a4c;
    /* The Typing Cursor Color*/
    caret-color: #ff8f73;

    transition: all 0.2s ease-in-out;
}
    .search_bar_text_input:hover, .search_bar_text_input:active {
        background-color: #ff8f73;
        color: #f3f1e0;
        /* The Typing Cursor Color*/
        caret-color: #634a4c;
    }
    .search_bar_text_input:focus {
        outline: 0;
    }
    .search_bar_text_input::placeholder {
        color: #634a4c;
    }



.search_bar_submit_input {
    border: 0px;
    background: none;
    background-color: #ff8f73;
    color: #f3f1e0;
    padding: 10px 20px;
    cursor: pointer;


    transition: all 0.2s ease-in-out;
}

    .search_bar_submit_input:hover, .search_bar_submit_input:active {
        background-color: #634a4c;
        color: #f3f1e0;
    }







