



/* The Title in the search side menu */
.search_side_menu_title {
    font-size: calc(1vw + 2rem); /* Adjust font size based on viewport width */
    color: #f3f1e0;

    user-select: none;

    transition: all 0.3s ease-in-out;
    padding-top: 20px;
    padding-bottom: 20px;
}





/* The Part that comes down onto the page */
.side-menu {
    position: fixed;
    top: -100%; /* Initially hide the menu above the viewport */
    left: 0;
    width: 100%;
    height: 65vh; /* Adjust height of entire panel as needed */
    background-color: #b5c8b2;
    overflow: hidden; /* Prevents content overflow */

    transition: top 0.5s ease-in-out; /* Transition the top position */

    z-index: 998;
    padding-top: 60px;
    border: 5px solid #634a4c;
}

    .side-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .side-menu li {
        padding: 10px 20px;
    }

    .side-menu a {
        color: #634a4c; /* Link color */
        text-decoration: none;
        font-size: 18px; /* Adjust font size as needed */
        display: block;
        transition: color 0.3s ease-in-out;
    }

        .side-menu a:hover {
            color: #f1d7cb; /* Hover color */
        }

.side-menu-toggle + label {
    position: fixed;
    top: 1.5rem; /* Assuming 1rem = 16px */

    left: 2rem; /* Adjust left position as needed */

    cursor: pointer;
    z-index: 999;
}


/* TOP TO BOTTOM */
.side-menu-toggle:checked ~ .side-menu {
    top: 0; /* Slide the menu down when checkbox is checked */
}
/* TOP TO BOTTOM */


/* Hide the default checkbox */
.side-menu-toggle {
    display: none;
}









/* These is the div that holds the buttons to search by artist name */
.scrollable_search_buttons {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    margin-top: 45px;
    padding: 20px;
    max-height: 25vh; /* Height of the boxed shadow inside the panal */
    overflow-y: auto; /* Enable vertical scrolling */
}


    /* This is the scroll bar for the div */
    .scrollable_search_buttons::-webkit-scrollbar {
        width: 15px;
        border: 3px solid #634a4c; /* Add a border to the scrollbar */
        border-radius: 50px; /* Add border radius */


        transition: all 1s ease-in-out;
    }

    .scrollable_search_buttons::-webkit-scrollbar-track {
        background: #634a4c;
    }

    .scrollable_search_buttons::-webkit-scrollbar-thumb {
        background: #f3f1e0;
        width: 10px; /* Adjust the width of the scrollbar thumb */
        border-radius: 50px;
    }

    /*        .scrollable_search_buttons::-webkit-scrollbar-thumb:hover {
            background: #00d8ff;
        }*/

    .scrollable_search_buttons::-webkit-scrollbar-button {
        display: none;
    }














/* LEFT to RIGHT */
/*.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 35vw;
    height: 100%;
    background-color: #b5c8b2;
    transform: translateX(-100%);
    transition: transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 998;
    padding-top: 60px;
    transition: all 0.5s;
}
.side-menu-toggle:checked ~ .side-menu {
    transform: translateX(0);
}

.side-menu-toggle:checked ~ .icon--menu-toggle .icon-group {
    transform: translateX(100%);
}*/
/* LEFT to RIGHT */


