/* COLORS */
/*   #f3f1e0   #f1d7cb   #ecb2b0    #776163  #634a4c  #ff8f73  #878f7d    #b5c8b2      https://i.pinimg.com/originals/33/db/6d/33db6db11053224ce6f2671fa5849276.png */
/*   #7A3E26  #CF6856  #F7E7CE   #FFFFFF    https://www.canva.com/colors/color-palettes/vanilla-amandine/ */
/* COLORS */







.search {
    border: 5px solid #634a4c;
    overflow: auto;
    border-radius: 50px;
    display: flex;
}

.search-form {
    width: 100%;
    display: flex;
    align-items: center; /* Align items vertically */
}



.search_bar_text_input {
    border: 0px;
    flex: 1 1 80%; /* Let the input take up 80% of the space */
    padding: 10px;
    background-color: #f3f1e0;
    color: #634a4c;
    /* The Typing Cursor Color*/
    caret-color: #ff8f73;

    transition: all 0.2s ease-in-out;
}
    .search_bar_text_input:hover, .search_bar_text_input:active {
        background-color: #ff8f73;
        color: #f3f1e0;
        /* The Typing Cursor Color*/
        caret-color: #634a4c;
    }
    .search_bar_text_input:focus {
        outline: 0;
    }
    .search_bar_text_input::placeholder {
        color: #634a4c;
    }



.search_bar_submit_input {
    border: 0px;
    background: none;
    background-color: #ff8f73;
    color: #f3f1e0;
    padding: 10px 20px;
    cursor: pointer;


    transition: all 0.2s ease-in-out;
}

    .search_bar_submit_input:hover, .search_bar_submit_input:active {
        background-color: #634a4c;
        color: #f3f1e0;
    }









/* These is the div that holds the buttons to search by artist name */
.scrollable_search_buttons {
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    margin-top: 45px;

    padding: 20px;

    max-height: 20vh; /* Set a maximum height relative to the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
}


/* This is the scroll bar for the div */
    .scrollable_search_buttons::-webkit-scrollbar {
        width: 15px;
        border: 3px solid #634a4c; /* Add a border to the scrollbar */
        border-radius: 50px; /* Add border radius */


        transition: all 1s ease-in-out;
    }

    .scrollable_search_buttons::-webkit-scrollbar-track {
        background: #634a4c;
    }

    .scrollable_search_buttons::-webkit-scrollbar-thumb {
        background: #f3f1e0;
        width: 10px; /* Adjust the width of the scrollbar thumb */
        border-radius: 50px;
    }

/*        .scrollable_search_buttons::-webkit-scrollbar-thumb:hover {
            background: #00d8ff;
        }*/

    .scrollable_search_buttons::-webkit-scrollbar-button {
        display: none;
    }
