

/* The text box the inputs in*/
.input-validation-error {
    border: 3px solid red;
    background-color: #ffd2d2ff;
}

/* The Error Text Below Input */
.field-validation-error {
    font-weight: bold;
}





* {
    font-family: "Lexend", sans-serif;
}


html {
    position: relative;
    min-height: 100%;
}

html, body {
    max-width: 100%;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f3f1e0;
    background-image: url('../images/icons/tile_background3.png');
}







.scale_in_center_entrance_animation {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
    @-webkit-keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }
    @keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }





