


/* vvvvvvvvvvvv VALIDATION vvvvvvvvvvvv */
/* The text box the inputs in*/
.input-validation-error {
    border: 3px solid red;
    background-color: #ffd2d2ff;
}

/* The Error Text Below Input */
.field-validation-error {
    font-weight: bold;
}
/* vvvvvvvvvvvv VALIDATION vvvvvvvvvvvv */





* {
    font-family: "Lexend", sans-serif;
}


html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

html, body {
    max-width: 100%;

    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f3f1e0;
    background-image: url('../images/icons/tile_background3.png');

/*        outline-offset: 4px;
    outline-color: deeppink;*/
}



/* USED FOR FOOTER BEING AT THE BOTTOM OF THE PAGE */
body {
    display: flex;
    flex-direction: column;
}
/* USED FOR FOOTER BEING AT THE BOTTOM OF THE PAGE */








/* NO RESULT FOUND */
.hero_header__no_items_text {
    user-select: none;
    position: relative;
    z-index: 1;
    font-size: 4rem;
    margin: 0 0 10px;
    line-height: 1;
    /*    color: #b5c8b2;*/
    color: #ff8f73;
    text-shadow: -4px -4px 0 rgba(255, 255, 255, 0.2), 2px 2px 0 #422800;
}

.no_results_img {
    max-width: 100%;
    height: auto;
    user-select: none;
    transition: all 0.2s ease-in-out; /* Transition the top position */
}

    .no_results_img:hover {
        transform: scale(1.05);
    }
/* NO RESULT FOUND */







/* aaaaaaaaaaaaaaaa ANIMATIONS aaaaaaaaaaaaaaaa */
.scale_in_center_entrance_animation {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
    @-webkit-keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }
    @keyframes scale-in-center {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            opacity: 1;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
    }




.text_shadow_pop_top {
    -webkit-animation: text-shadow-pop-bottom 0.8s both;
    animation: text-shadow-pop-bottom 0.8s both;
}
@-webkit-keyframes text-shadow-pop-bottom {
    0% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555, 0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes text-shadow-pop-bottom {
    0% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555, 0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}








.text_pop_up_top {
    -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

/* aaaaaaaaaaaaaaaa ANIMATIONS aaaaaaaaaaaaaaaa */








/* ssssssssssssssss SCROLL BAR ssssssssssssssss */
::-webkit-scrollbar {
    width: 20px;
/*    border: 5px solid #634a4c;
    border-radius: 25px;*/
    background-color: #f3f1e0;
}

/*::-webkit-scrollbar-track {
    background: #634a4c;
}*/

::-webkit-scrollbar-thumb {
    border: 3px solid #634a4c; /* Add a border to the scrollbar */
    background: #ff8f73;
    width: 10px; /* Adjust the width of the scrollbar thumb */
    border-radius: 50px;
    transition: background 0.3s ease; /* Smooth transition for background color */
}

/*    ::-webkit-scrollbar-thumb:hover {
        background: #ff8f73;
        background: #b5c8b2;
    }*/

::-webkit-scrollbar-button {
    display: none;
}
/* ssssssssssssssss SCROLL BAR ssssssssssssssss */














