
html {
  position: relative;
  min-height: 100%;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}





#loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white */
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-spinner {
    background-image: url('../images/icons/smile_record.png');
    width: 100px; /* Set the width and height of the image */
    height: 100px;
    background-size: contain; /* Make sure the image fits within the container */
    background-repeat: no-repeat; /* Prevent repeating the image */
    animation: spin 3s linear infinite; /* Apply spinning animation */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

