
/* Entrance Animation */
.crud_message_slide_in{
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


/* Exit Animation */
.crud_message_slide_out {
    -webkit-animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
}
@keyframes slide-out-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }
}







/* BACKGROUND FOR ADDING OPERATION */
.CRUD_ADDED_background {
    background-color: #ff8f73;
}
/* BACKGROUND FOR EDITIED OPERATION */
.CRUD_EDITIED_background {
    background-color: #fcca29;
}
/* BACKGROUND FOR DELETED OPERATION */
.CRUD_DELETED_background {
    background-color: #ff4646;
}



/* aaaaa ACCOUNT ACTIONS aaaaa */
/* FOR WHEN A USER REGISTERS AN ACCOUNT */
.REGISTER_USER_background {
    background-color: #ff8f73;
}

/* BACKGROUND FOR USER LOGIN */
.LOGIN_USER_background {
    background-color: #3fc63f;
}

.LOGOUT_USER_background {
    background-color: #3fc63f;
}
/* aaaaa ACCOUNT ACTIONS aaaaa */




.CRUD_Message_Container {
    width: auto; /* Adjust to fit content */
    max-width: 320px; /* Limit width on larger screens */

    padding: 15px;
    position: fixed;
    bottom: 50px; /* Adjust distance from bottom */
    right: 20px; /* Adjust distance from right */

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-radius: 10px;
    box-shadow: 0px 0px 5px -3px #111;
    z-index: 10;
    /*    background-color: #ff8f73;*/
}
    /* Media query for small devices */
    @media only screen and (max-width: 1000px) {
        .CRUD_Message_Container {
            bottom: 100px; /* Adjust distance from bottom */
            right: 50px; /* Adjust distance from right */
        }
    }

/* Small ! Icon Before Text */
.CRUD_icon {
/*    width: 50px;
    height: 30px;
    transform: translateY(2px);*/
    margin-right: 10px;
}
    .CRUD_icon path {
        fill: #f3f1e0;
    }



/* The Actual Message Displayed */
.CRUD_Message {
    font-weight: 500;
    font-size: 2.5vh;

    color: #f3f1e0;
/*    text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555;*/
}
    /* Media query for small devices */
    @media only screen and (max-width: 1300px) {
        .CRUD_Message {
            font-size: 2vh;
        }
    }



/* Close X Icon */
.CRUD_close {
/*    width: 20px;
    height: 30px;*/

    cursor: pointer;
    margin-left: 8px; /* MATCH THIS WITH ICONS */
    transition: all 0.1s ease-in-out;
}
.CRUD_close path {
    fill: #f3f1e0;
}

    .CRUD_close:hover {
        transform: scale(1.3);
    }
    .CRUD_close:hover path{
        fill: #776163;
    }









