@*
    ABOUT PAGE
*@
@{
    ViewData["Title"] = "About";
}





    <div class="home-about_page_section">

    <!-- SECTION -->
    <section class="hero_section    text-center">
        <div class="   text-center ">
            <div class="container">

                <div class="">
                    <h1 class="home_page_header_text   text_shadow_pop_top   text-center">
                        About
                    </h1>
                </div>

            </div>
        </div>
    </section>
    <!-- SECTION -->



    <!-- SECTION -->
    <section class="hero_section  hero_section_bg_color_green  text-center">
        <div class="   text-center ">
            <div class="container">

                <div class="about_section">
                    <div class="about_content">
                        <h3 class="about_page_text">This is my Ranken Technical College 2024 ASP.NET Core MVC Final</h3>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- SECTION -->


    <!-- SECTION -->
    <section class="hero_section   text-center">
        <div class="   text-center ">
            <div class="container">

                <div class="about_section">
                    <div class="about_content">
                        <h3 class="about_page_text">It Took Four Months and Several Hundred Hours To Make This Site</h3>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- SECTION -->


    <!-- SECTION -->
    <section class="hero_section  hero_section_bg_color_green  text-center">
        <div class="   text-center ">
            <div class="container">

                <div class="about_section">
                    <div class="about_content">
                        <h3 class="about_page_text">The Site Allows Users To Log In And Be Able To <br /> Add, Edit, Delete, and View Information For A Record Shop</h3>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- SECTION -->

    <!-- SECTION -->
    <section class="hero_section   text-center">
        <div class="   text-center ">
            <div class="container">

                <div class="about_section">
                    <div class="about_content">
                        <h3 class="about_page_text">Users Logged In With the Admin Role Are Allowed to View and Operate On The Products As Well As Manage All User Accounts</h3>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- SECTION -->

</div>


