@*
    ABOUT PAGE
*@
@{
    ViewData["Title"] = "About";
}







<div class="about_section">
    <img src="~/images/icons/smile_record.png" class="about_img" />
    <div class="about_content">
        <p>Text here text here</p>
        <p>Text here text here</p>
    </div>
</div>

<div class="about_section">
    <div class="about_content">
        <p>Text here text here</p>
        <p>Text here text here</p>
    </div>
    
    <img src="~/images/icons/smile_record.png" class="about_img" />
</div>

