@{
    ViewData["Title"] = "Home Page";
}


<input id="page-nav-toggle" class="main-navigation-toggle" type="checkbox" />
<label for="page-nav-toggle">
    <svg class="icon--menu-toggle" viewBox="0 0 60 30">
        <g class="icon-group">
            <g class="icon--menu">
                <path d="M 6 0 L 54 0" />
                <path d="M 6 15 L 54 15" />
                <path d="M 6 30 L 54 30" />
            </g>
            <g class="icon--close">
                <path d="M 15 0 L 45 30" />
                <path d="M 15 30 L 45 0" />
            </g>
        </g>
    </svg>
</label>

<nav class="main-navigation">
    <ul class="navbar_ul">
        <li class="navbar_li"><a href="#0" class="navbar_links">Home</a></li>
        <li class="navbar_li"><a href="#0" class="navbar_links">About</a></li>
        <li class="navbar_li"><a href="#0" class="navbar_links">Contact</a></li>
        <li class="navbar_li"><a href="#0" class="navbar_links">Dance</a></li>
    </ul>
</nav>




<section class="hero">
    <div class="content">
        <h2>Hero Header</h2>
        <p>Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non</p>
    </div>
</section>









<div class="">
    <h1 class="">Record Shop</h1>
    <p >Shop any and all Records</p>
</div>


<div class="">
    <h1 class="admin">Admin</h1>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Product" asp-action="Index">Manage Products</a>
    </p>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Employee" asp-action="Index">Manage Employees</a>
    </p>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Customer" asp-action="Index">Manage Customers</a>
    </p>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Incident" asp-action="Index">Manage Incident</a>
    </p>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Registration" asp-action="Index">Manage Registrations</a>
    </p>
</div>


<div>
    <h1 class="">Technicians</h1>

    <p class="border p-lg-2">Update Incident</p>
</div>