@* USED FOR CHECKING IF USER IS LOGGED IN *@
@using RecordShop.Models.Login
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager
@* USED FOR CHECKING IF USER IS LOGGED IN *@



@{
    ViewData["Title"] = "Manage Record Shop";
}


<div class="home-about_page_section">

    <!-- MAIN HERO SECTION -->
    <section class="hero_section    text-center">
        <div class="   text-center "> @* hero_content *@
            @* ADD AS MANY AS NEEDED *@
    @*      <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div>
            <div class="snowflake"><img src="~/images/icons/uwu_record.png" class="snowflakeIMG" /></div>
            <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div>
            <div class="snowflake"><img src="~/images/icons/uwu_record.png" class="snowflakeIMG" /></div>
            <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div>
            <div class="snowflake"><img src="~/images/icons/uwu_record.png" class="snowflakeIMG" /></div>
            <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div>
            <div class="snowflake"><img src="~/images/icons/uwu_record.png" class="snowflakeIMG" /></div>
            <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div> *@

            @* Background of moving record images *@
            <div class="hero_background"></div>



            @* xxxxxxx USER NOT LOGGED IN OR REGISTERED xxxxxxx *@
            @if (!signInManager.IsSignedIn(User))
            {
                <div class="">
                    @* hero_content_record_stopper_box *@
                    <h1 class="home_page_header_text   text_shadow_pop_top   text-center">
                        Manage Record Shop
                    </h1>
                </div>
            }
            @* xxxxxxx USER NOT LOGGED IN OR REGISTERED xxxxxxx *@


            @* +++++++ USER IS LOGGED IN OR REGISTERED +++++++ *@
            @if (signInManager.IsSignedIn(User))
            {
                <div class="">
                    @* hero_content_record_stopper_box *@
                    <h1 class="home_page_header_text   text_shadow_pop_top   text-center">
                        Welcome <br/>  @User.Identity.Name
                    </h1>
                </div>
            }
            @* +++++++ USER IS LOGGED IN OR REGISTERED +++++++ *@



        </div>
    </section>
    <!-- MAIN HERO SECTION -->









    @* xxxxxxx USER NOT LOGGED IN OR REGISTERED xxxxxxx *@
    @if (!signInManager.IsSignedIn(User))
    {
            <!-- ABOUT -->
            <section class="hero_section  hero_section_bg_color_green  text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text  text_shadow_pop_top   text-center">
                            About
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Home" asp-action="About">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View About Page
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- ABOUT -->

            <!-- LOGIN -->
            <section class="hero_section    text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text  text_shadow_pop_top   text-center">
                            Login
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Account" asp-action="Login">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    Login
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- LOGIN -->

            <!-- REGISTER -->
            <section class="hero_section  hero_section_bg_color_green  text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text  text_shadow_pop_top   text-center">
                            Register
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Account" asp-action="Register">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    Register
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- REGISTER -->

    }
    @* xxxxxxx USER NOT LOGGED IN OR REGISTERED xxxxxxx *@











    @* +++++++ USER IS LOGGED IN AND ADMIN +++++++ *@
    @if (signInManager.IsSignedIn(User))
    {


        @* USER HAS ROLE OF ADMIN *@
        @if (User.IsInRole("Admin"))
        {
            <!-- PRODUCTS -->
            <section class="hero_section  hero_section_bg_color_green text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text   text_shadow_pop_top   text-center">
                            Products
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Product" asp-action="Index">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View Products
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- PRODUCTS -->

            <!-- EMPLOYEES -->
            <section class="hero_section   text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text   text_shadow_pop_top   text-center">
                            Employees
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Employee" asp-action="Index">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View Employees
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- EMPLOYEES -->

            <!-- CUSTOMERS -->
            <section class="hero_section  hero_section_bg_color_green  text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text   text_shadow_pop_top   text-center">
                            Customers
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Customer" asp-action="Index">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View Customers
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- CUSTOMERS -->

            <!-- INCIDENTS -->
            <section class="hero_section   text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text   text_shadow_pop_top   text-center">
                            Incidents
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Incident" asp-action="Index">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View Incidents
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- INCIDENTS -->

            <!-- REGISTRATIONS -->
            <section class="hero_section  hero_section_bg_color_green  text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text    text_shadow_pop_top   text-center">
                            Registrations
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Registration" asp-action="Index">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View Registrations
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- REGISTRATIONS -->

            <!-- EMPLOYEE INCIDNET -->
            <section class="hero_section   text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text    text_shadow_pop_top   text-center">
                            Employee Incidents
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Incident" asp-action="EmployeeAssignedPicker">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View Employee Incidents
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- EMPLOYEE INCIDNET -->

            <!-- USER MANAGER -->
            <section class="hero_section  hero_section_bg_color_green  text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text   text_shadow_pop_top   text-center">
                            Manage Users
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="User" asp-action="ManageUsers">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View User Manager
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- USER MANAGER -->

            <!-- ABOUT -->
            <section class="hero_section    text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text  text_shadow_pop_top   text-center">
                            About
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Home" asp-action="About">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View About Page
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- ABOUT -->
        }
        @* USER HAS ROLE OF ADMIN *@

    }
    @* +++++++ USER IS LOGGED IN AND ADMIN +++++++ *@







    @* +++++++ USER IS LOGGED IN OR REGISTERED +++++++ *@
    @if (signInManager.IsSignedIn(User))
    {
        @* USER DOSE NOT HAVE ROLE OF ADMIN *@
        @if (!User.IsInRole("Admin"))
        {
            <!-- EMPLOYEES -->
            <section class="hero_section hero_section_bg_color_green  text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text   text_shadow_pop_top   text-center">
                            Employees
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Employee" asp-action="Index">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View Employees
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- EMPLOYEES -->

            <!-- CUSTOMERS -->
            <section class="hero_section    text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text   text_shadow_pop_top   text-center">
                            Customers
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Customer" asp-action="Index">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View Customers
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- CUSTOMERS -->

            <!-- INCIDENTS -->
            <section class="hero_section  hero_section_bg_color_green text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text   text_shadow_pop_top   text-center">
                            Incidents
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Incident" asp-action="Index">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View Incidents
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- INCIDENTS -->

            <!-- REGISTRATIONS -->
            <section class="hero_section    text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text    text_shadow_pop_top   text-center">
                            Registrations
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Registration" asp-action="Index">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View Registrations
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- REGISTRATIONS -->

            <!-- EMPLOYEE INCIDNET -->
            <section class="hero_section  hero_section_bg_color_green  text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text    text_shadow_pop_top   text-center">
                            Employee Incidents
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Incident" asp-action="EmployeeAssignedPicker">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View Employee Incidents
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- EMPLOYEE INCIDNET -->

            <!-- ABOUT -->
            <section class="hero_section    text-center">
                <div class="   text-center ">
                    <div class="">
                        <h1 class="home_page_header_text  text_shadow_pop_top   text-center">
                            About
                        </h1>

                        <button class="pushable  mt-5">
                            <a class="text-black   text-decoration-none" asp-area="" asp-controller="Home" asp-action="About">
                                <span class="shadow"></span>
                                <span class="edge"></span>
                                <span class="front">
                                    View About Page
                                </span>
                            </a>
                        </button>
                    </div>
                </div>
            </section>
            <!-- ABOUT -->
        }

    }
    @* +++++++ USER IS LOGGED IN OR REGISTERED +++++++ *@
















    @* <section class="spline_iframe_container">
        <iframe class="spline_iframe" id="spline_iframe" src='https://my.spline.design/untitled-abed2c8b77c65ae93bda3e04e7000201/' frameborder='0'></iframe>
    </section> *@

    @* <section class="spline_iframe_container">
        <iframe class="spline_iframe" id="spline_iframe" src='https://my.spline.design/untitled-26793c678f0a8c9e65f3b4784e78f028/' frameborder='0'></iframe>
    </section> *@


</div>