@{
    ViewData["Title"] = "Record Shop";
}









<section class="hero_section   text-center">
    <div class="hero_content   text-center ">
        @* ADD AS MANY AS NEEDED *@
@*         <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/uwu_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/uwu_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/uwu_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/uwu_record.png" class="snowflakeIMG" /></div>
        <div class="snowflake"><img src="~/images/icons/smile_record.png" class="snowflakeIMG" /></div> *@



        <div class="hero_background">
        </div>


        <div class="">@* hero_content_record_stopper_box *@
            <h1 class="hero_header_text">Shop The Vinyls You Love</h1>
            <p class="hero_sub_text">Find all the records you ever wanted</p>

            <button class="pushable">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front">
                    Push Me
                </span>
            </button>
        </div>



    </div>



</section>








<div class="page_container container">



@* <section class="spline_iframe_container">
    <iframe class="spline_iframe" id="spline_iframe" src='https://my.spline.design/untitled-abed2c8b77c65ae93bda3e04e7000201/' frameborder='0'></iframe>
</section> *@

@* <section class="spline_iframe_container">
    <iframe class="spline_iframe" id="spline_iframe" src='https://my.spline.design/untitled-26793c678f0a8c9e65f3b4784e78f028/' frameborder='0'></iframe>
</section> *@














<div class="">
    <h1 class="">Record Shop</h1>
    <p >Shop any and all Records</p>
</div>


<div class="">
    <h1 class="admin">Admin</h1>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Product" asp-action="Index">Manage Products</a>
    </p>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Employee" asp-action="Index">Manage Employees</a>
    </p>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Customer" asp-action="Index">Manage Customers</a>
    </p>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Incident" asp-action="Index">Manage Incident</a>
    </p>
    <p class="border p-lg-2 ">
        <a class="text-black   text-decoration-none" asp-area="" asp-controller="Registration" asp-action="Index">Manage Registrations</a>
    </p>
</div>


<div>
    <h1 class="">Technicians</h1>
    <a class="text-black   text-decoration-none" asp-area="" asp-controller="Incident" asp-action="EmployeeAssignedPicker">Update Incident</a>

</div>


</div>